{%extends 'Trainer_index.html'%}
{%load static%}
{%block content%}



<div class="row">
    <div class="grid-margin col-lg-12 stretch-card">
        <div class="card ">
            <div class="card-body ">
                <h4 class="card-title">Payment History</h4>
                <input type="text" class="form-control text-dark" id="myInput" name="search" autocomplete="off"
                    placeholder="Search...">
                <div class="table-responsive pt-3">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Payment Type</th>
                                <th>Payment Date</th>
                                <th>Payment</th>
                                <th>Next Payment Date</th>
                                <th>Payment Status</th>


                            </tr>
                        </thead>
                        <tbody id="myTable">
                            {% for i in pay %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.payment_type}}</td>
                                <td>{{i.date|date:'d-m-Y'}}</td>
                                <td>{{i.payment}}</td>
                                <td>{{i.net_due_date|date:'d-m-Y'}}</td>
                                <td>
                                    {% if i.status == 0 %}
                                    <button type="button" class="btn btn-danger btn-fw btn-sm">Pending</button>
                                    {%else%}
                                    <button type="button" class="btn btn-success btn-fw btn-sm">Verified</button>
                                    {%endif%}
                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


{% endblock %}